REACT_APP_SHOPIFY_API_KEY=ef9e9b1a62db474c26901c09f0aa60ef
REACT_APP_SHOPIFY_ACCESS_TOKEN=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
REACT_APP_DZINE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJPcGVuQUlEIjo1NCwiT3BlblVJRCI6MTE0MDUxNDQwMzkyMSwiTUlEIjo5NTA0ODk3LCJDcmVhdGVUaW1lIjoxNzM5NjI5OTAxLCJpc3MiOiJkemluZSIsInN1YiI6Im9wZW4ifQ.IXPM8a9NZ-jVvQ2pgkdIgCYX_BMfFstmbnWCOqrVb-w